alabaster==0.7.10
Babel==2.5.3
bluepy==1.1.4
certifi==2018.1.18
chardet==3.0.4
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.10
magicblue==0.5.0
MarkupSafe==1.0
Pygments==2.4.2
pytz==2017.3
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.6
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
urllib3==1.22
webcolors==1.7
